
/* TYPOGRAPHY  */
h1 {
    color: #0DA2D1; 
    font-family: 'Oswald', sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 108px;
    letter-spacing: -2%;
    text-align: center; 
    margin-block-end: 0;
    margin-block-start: 0;
    padding-top: 8rem;
    padding-bottom: 4rem; 
}

h2 {
    color: #0DA2D1; 
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -2%;
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-block-end: 0;
    margin-block-start: 0;
}

h3 {
    color: #125064; 
    font-family: 'Montserrat', sans-serif;
    font-size: 43px;
    font-weight: 600;
    line-height: 51px;
    margin-block-end: 0;
    margin-block-start: 0;
}

h4 {
    color: #125064;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    margin-block-end: 0;
    margin-block-start: 0;
}

h5 {
    color: #125064;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-block-end: 0;
    margin-block-start: 0;
}

p {
    color: #020006;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
}

strong {
    color: #0DA2D1;
}

.pSmall {
    color: #020006;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 21px;
    font-weight: normal;
}

li {
    color: #F1F0F4;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
}

/* TEXT ALIGN Styles  */
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}



/* BUTTON/ASSETS STYLES */
button {
    border: 3px solid #0DA2D1;
    border-radius: 4px;
    color: #0DA2D1;
    box-sizing: border-box;
    background-color: transparent;
    font-style: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
}

button:hover {
    background-color: #0DA2D1;
    color: #F1F0F4;
    border: 3px solid #0DA2D1;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-style: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
}

/* BACK TO TOP BUTTON */
#bttBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(4, 119, 150); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 6px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
  
#bttBtn:hover {
    background-color: #505362; /* Add a dark-grey background on hover */
}




/* Sticky Header with topNav  */
.logoBrand {
    display: flex;
    flex-direction: row;
}

.logo {
    margin-left: 2rem;
    max-height: 104px;
}

/* Want to get rid of Bootstrap blue underline on hover over logo text */
.shopName:hover {
    text-decoration-style: none;
}

.header h2 {
    color: #F1F0F4;
    font-family: 'Comforter', cursive;
    padding-left: 5%;
    align-self: flex-end;
    width: 440px;
    height: 64px;
    text-decoration-style: none;
}

.heroTitle {
    text-decoration-style: none;
}

.header {
    background-color: #0DA2D1;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10; 
}

.topNav {
    align-items: flex-end;
    margin-right: 3rem;
    margin-top: 3rem;
    justify-content: space-between;
}

.inline {
    display: inline;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
}

.navLinks {
    display: inline;
    color: #F1F0F4;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;  
    vertical-align: middle; 
}

a {
    text-decoration: none;
}

.navLinks:hover {
    text-decoration: underline;
    text-decoration-color: #125064;
    text-decoration-thickness: 4px;
    text-underline-position: under;
}

.hobbyVDlink:hover {
    background-color: #bfd7f6;
}


/* Sticky Header */
.sticky {
    position: fixed;
    top: 0; 
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}




/* HERO section */
.heroSection {
    z-index: 3;
    background-image: url("../images/glass_floats02.jpeg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.decalAppHero {
    z-index: 3;
    background-image: url("../images/vinylPrinter01.jpeg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.decalAppHero h3 {
    text-shadow: 1px 1px rgb(85, 142, 179);
}

.heroTitleVD h3 {
    text-shadow: 1px 1px rgb(85, 142, 179);
}

.aboutCopy, .heroSection, .decalAppHero {
    margin-bottom: 0px;
}
 
.heroSection {
    margin-bottom: 0px;
}

.heroTitle {
    font-family: 'Comforter', cursive;
    padding-bottom: 0rem;
    color: #F1F0F4;
    /* Not sure if this property is working yet? */
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heroTitleVD {
    padding-bottom: 0rem;
}

.heroSub {
    color: #F1F0F4;
}

.textShadow {
    text-shadow: 1px 1px rgb(33, 43, 52);
}



/* HOBBY CATEGORIES GRID SECTION */
#hobbyCategories {
      background-color: #125064;
      padding-bottom: 8rem;
}
  
#hobbyCategories h2 {
    color: #F1F0F4;
    padding-top: 4rem;
    padding-left: 2rem;
}

.hobbyRow01 {
    padding-bottom: 4rem;
}

.cardShadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* VINYL DECALS - GET STARTED - STEPS section */
#getStarted h2 {
    padding-top: 4rem;
}

.stepsIconCards {
    width: 360px;
}

.stepsRow01 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 3rem;
}

.stepsRow02 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 3rem;
}



/* VINYL DECALS - GET STARTED - RESOURCES section */
.resourcesRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 8rem;
    border-bottom: 1px solid black;
}

.resourceCard {
    border-radius: 6px;
    background-color: #125064;
}

.resourceCard h3 {
    color: #F1F0F4;
    padding-bottom: 1rem;
}



/* THE SETUP section */
#setup li {
    color: black;
}

#setup h2 {
    padding-top: 4rem;
}

.setupRow02 {
    padding-top: 2rem;
    padding-bottom: 4rem;
}



/* BASIC APPLICATION section */
#basicApplication {
    padding-bottom: 4rem;
    background-color: #125064;;
}

#basicApplication h2 {
    color: #F1F0F4;
    padding-top: 4rem;
}

.appRow01 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2rem;
}

.appRow02 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2rem;
}

.appRow03 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2rem;
}



 /* PRO TIPS section */
#proTips h2 {
    padding-top: 4rem;
    padding-bottom: 0rem;
}

.protipCard button {
    margin-top: 3.2rem;
}

.buttonContainer {
    padding-top: 1rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid black;
}



/* FOOTER */
.footerRow01 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer li {
    list-style-type: none;
    color: #125064;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.footerHobbies {
    list-style-type: none;
    color: #125064;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    padding-left: 0;
}

.footerHobbies:hover {
    list-style-type: none;
    color: #125064;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-left: 0px;
}


footer h4 {
    font-family: 'Comforter', cursive;
    padding-bottom: 1rem;
}

.socialIconsRow {
    display: flex;
    flex-direction: row;
}

.IGicon {
    padding-left: 0px;
}

.copyrightRow {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    padding-top: 1rem;
}

#footerText {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 21px;
    text-align: center;
}





/* Media Queries Media Queries Media Queries Media Queries Media Queries */
/* Media Queries Media Queries Media Queries Media Queries Media Queries */
/* Media Queries Media Queries Media Queries Media Queries Media Queries */
@media only screen and (max-width: 600px) {
    .logoBrand {
        width: 50%;
    }
    
    .shopName {
        max-width: 350px;
    }

    .topNav {
        display: flex;
        flex-direction: column;
    }

    .inline {
        padding-top: 25%;
        padding-bottom: 0%;
   
    }

    #myHeader ul {
        padding-left: 0%;
    }



    /* HOMEPAGE */
    .card01, .card02, .card03, .card04, .card05, .card06 {
        margin-bottom: 2rem;
    }

    .hobbyRow01, .hobbyRow02 {
        margin-bottom: 0;
        padding-bottom: 0;
    }



    /* VINYL DECALS */
    .stepsRow01 {
        padding-bottom: 0rem;
    }

    .stepsCard {
        padding-bottom: 2rem;
    }

    .protipCard {
        margin-bottom: 2rem;
    }

    .protipCard button {
        margin-top: 0rem;
    }


    /* DECAL APPLICATION */
    .step1Card, .step3Card, .step5Card {
        margin-bottom: 2rem;
    }



    /* FOOTER */
    .footerList {
        padding-bottom: 2rem;
    }

    footer ul {
        padding-left: 0px;
    }

}
